---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<a href={href} class="flex flex-col gap-2 bg-text text-background p-4">
  <h2 class="font-semibold">
    {title}
  </h2>
  <p>
    {body}
  </p>
</a>
