---
const title = new Date().getFullYear();
---

<footer class="flex items-center justify-center h-16 w-full">
  <p class="text-center">
    © {title} tracel.xyz by Kivlan Bahmid is licensed under <span class="font-bold">CC BY 4.0</span>
  </p>
</footer>
