---

---

<header class="w-full h-12 flex items-center justify-center">
  <div
    class="flex w-min items-center justify-center border-b-text border-b whitespace-nowrap"
  >
    <a href="/" class="text-3xl sm:text-4xl font-semibold">TraceL's White Space</a>
  </div>
</header>
